<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Counter</title>
</head>
<body>

<h1>View Counter</h1>

<div th:if="${user != null}">
    <p>Welcome,
        <a th:href="${user.getProfileUrl()}"><span th:text="${user.getUsername()}">User</span></a>
        (<span th:text="${user.getFullName()}"></span>)!
    </p>
    <img th:src="${user.getAvatarUrl()}" alt="User Avatar" width="100" height="100"/>
    <button th:onclick="|window.location.href='/logout'|">Logout</button>
</div>

<div th:if="${user == null}">
    <p>You are not logged in.</p>
    <button th:onclick="|window.location.href='/login'|">Login</button>
</div>
</body>
</html>
